.app-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 1em;
}

input,
textarea {
  padding: 0.5em;
}

label {
  font-weight: bold;
}

input,
textarea {
  width: 500px;
}

.littleform-error-message {
  color: red;
}

.littleform-input-inactive.littleform-input-invalid.littleform-input-touched
  input,
.littleform-input-inactive.littleform-input-invalid.littleform-input-touched
  textarea,
.littleform-form-submitted
  .littleform-input-inactive.littleform-input-invalid
  input,
.littleform-form-submitted
  .littleform-input-inactive.littleform-input-invalid
  textarea {
  border-color: red;
  color: red;
}

textarea {
  line-height: 1.4;
  height: 150px;
}

input[type="checkbox"] {
  width: auto;
  position: relative;
  top: -1px;
}

input[type="checkbox"] + label {
  display: inline-block;
  padding-left: 1em;
  font-weight: normal;
}

input[disabled] {
  background-color: #efefef;
}

input[disabled]:hover {
  cursor: not-allowed;
}
